.title {
  font-family: Ubuntu, sans-serif;
  color: #D2A857;
  font-size: 25px;
  text-transform: capitalize;
}
body{
  margin: 0;
  background-color: #202634;
}
a{
  text-decoration: none;
  color: #202634;
  cursor: pointer;
}

.courseWrapper {
  font-family: Ubuntu, sans-serif;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #526886;
  margin: 2px 0;
  border: 2px solid #576679;
  cursor: pointer;
  position: relative;
  color: #1b232e;
}
.courseWrapper:hover {
  color: #1b232e;
  background-color: #526886;
  border: 2px solid #D2A857;
}
/*.iconGrey {
  border: 2px solid #D2A857;
  border-radius: 50%;
  font-size: 16px;
  color: white;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: relative;
  padding: 6px;
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
}*/
/*.iconGrey:hover{
  color: #D2A857
}*/
.buttonLinks{
  width: 230px;
  margin-left: auto;
  margin-right: 5px;
  text-align: right;
}
/*.whiteHover:hover{
  color: #fff;
}*/
.buttonLinks > a{
  color: white;
}
.buttonLinks > a:hover{
  color: #D2A857;
}
.buttonLinks > a > .iconGrey{
  border: 2px solid #D2A857;
  border-radius: 50%;
  font-size: 16px;
  color: white;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: relative;
  padding: 6px;
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
}
.newBin{
  margin-right: 15px;
}
/*.newBin:hover{
  margin-right: 15px;
}*/

.arrows{
  font-size: 20px;
  color:#D2A857;
}

.scenes {
  font-size: 12px;
  position: absolute;
  right: 20px;
}
.showMore{
  float: right;
  color: #fff;
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
